@media screen and (max-width: 1090px) {
    .profile-text{
      font-size: 14px !important;
    }
  }
  @media screen and (max-width: 1112px) {
    .profile-text{
      font-size: 14px !important;
    }
    .custom-land-page-text{
      font-size: 12px !important;
    }
  }
  @media screen and (max-width: 990px) {
    .profile-text{
      font-size: 9px !important;
    }
  }
  @media screen and (max-width: 800px) {
    .profile-text{
      font-size: 10px !important;
    }
    .custom-land-page-text{
      font-size: 12px !important;
    }
  }
  @media screen and (max-width: 1200px) {
    .disclaimer{
      font-size:12px !important;
    }
  }
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type:none;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.margin-bottom {
  margin-bottom: 5px;
  vertical-align: baseline;
}
.btn-grad{
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.disclaimer{
  font-family: Acme, sans-serif;
  font-size: 20px;
}