<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="apple-touch-icon" href="{% static 'letter.png' %}" sizes="180x180">
    <link rel="icon" href="{% static 'letter.png' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'letter.png' %}" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="{% static 'letter.png' %}" color="#563d7c">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Query Raiser</title>
  </head>
  <body>
    <header style = "margin-bottom:20px;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container">
            <a
              class="navbar-brand"
              href="{% url 'home' %}"
              ><img src = "{% static 'letter.png' %}" height = 40px,width = 12px /> ueryRaiser</a
            >
            <button
              data-bs-toggle="collapse"
              class="navbar-toggler"
              data-bs-target="#navcol-1"
            >
              <span class="visually-hidden">Toggle navigation</span
              ><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if user.profile.avatar %}
                  <img src="{{user.profile.avatar.url}}" alt="" width="32" height="32" class="rounded-circle me-2">
                  {% else %}
                  <img src="{% static 'default.png' %}" alt="" width="32" height="32" class="rounded-circle me-2">
                  {% endif %}
                  {{user.username}}
                </a>
                <ul class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'profile' user.profile.slug %}"><i class="far fa-user-circle"></i> My Account</a></li>
                  <li><a class="dropdown-item" href="{% url 'view_all_queries' %}"><i class="fas fa-book-open"></i> View All Queries</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
              </li>
              {% else %}
              <a class = "nav-link active" data-bss-hover-animate="pulse" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
            {% endif %}
            </ul>
            </div>
          </div>
        </nav>
      </header>
    <div class="container py-2">{% include 'messages.html' %}{% block content %} {% endblock %}</div>
    <footer class="text-muted">
      <div class="container text-center">
        <p class='text-body'>
          <a href = "{% url 'portal' %}" class = 'text-muted' style = "text-decoration:none;">Copyrights © Shyam  {% now "Y" %}</a>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="{% static 'bs-init.js' %}"></script>
  </body>
</html>
