{% extends 'base.html' %}
{% block content %}
<div class = "container">
    <h1 class = "text-center">Your Queries</h1>
    <hr/>
    <ul class="list-group">
        {% if Queries %}
        {% for query in Queries.all %}
        {% if query.status == "Pending Approval" %}
            <a href = "{% url 'query_detail_view' query.slug query.id %}" class="list-group-item list-group-item-action list-group-item-info">
                {% if user.profile.role == "Program Representative" %}
                {{query.title}} - {{query.department}} -  {{query.admitted_year}}
                {% else %}
                {{query.title}}
                {% endif %}
            </a>
        {% elif query.status == "Rejected" %}
            <a href = "{% url 'query_detail_view' query.slug query.id %}" class="list-group-item list-group-item-action list-group-item-danger">
                {% if user.profile.role == "Program Representative" %}
                    {{query.title}} - {{query.department}} - {{query.admitted_year}}
                {% else %}
                    {{query.title}}
                {% endif %}
            </a>
        {% else %}
            <a href = "{% url 'query_detail_view' query.slug  query.id %}" class="list-group-item list-group-item-action list-group-item-success">
                {% if user.profile.role == "Program Representative" %}
                {{query.title}} - {{query.department}} - {{query.admitted_year}}
                {% else %}
                {{query.title}}
                {% endif %}
            </a>
        {% endif %}
        {% endfor %}
        {% else %}
            <h1 class = "text-center">You have No Queries Posted !!!. Get Started</h1>
        {% endif %}
    </ul>
    <div class = "d-inline-block py-2" style = "margin-top:20px;margin-bottom:10px;">
        <a href = "{% url 'create_query' %}" class = "btn btn-primary" data-bss-hover-animate="pulse"><i class="fa-solid fa-plus"></i> Add a Query</a>
    </div>
</div>
{% endblock %}