{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1 class="text-center">{{query.title}}</h1>
  <hr/>
  <br />
  <div
    class="container-fluid border border-dark"
    style="overflow-y: auto; height: 400px;margin-bottom:20px;"
  >
    <div class="subtitle text-muted py-1">By : {{query.user.email}}</div>
    <div class="subtitle text-muted py-1">
      Roll No : {{query.user.last_name}}
    </div>
    <div class="subtitle text-muted py-1">
      Created On : {{query.date_of_creation}}
    </div>
    <div class="subtitle text-muted py-1">Type : {{query.type}}</div>
    <div class="subtitle text-muted py-1">Status : {{query.status}}</div>
    {% if user.profile.role == "Program Representative" or user.profile.role == "Head of Department" %}
    <div class="subtitle text-muted py-1">
      Contact : {{query.user.profile.contact}}
    </div>
    {% endif %}
    <div class="subtitle text-muted py-1 text-center">Description</div>
    <p>{{query.description.media}} {{query.description|safe}}</p>
  </div>
  {% if user.profile.role == "Program Representative" or user.profile.role == "Head of Department" %}
    {% if user.profile.department != query.department or user.profile.admitted_year != query.admitted_year %}
      <h6 class = "text-center text-muted">*You Do Not have permissions to make changes to this query. Kindly Contact {{query.department}} - {{query.admitted_year}} PR for further actions</h6>
      {% else%}
      <div class="d-inline-block py-2">
        <div class="row">
          <div class="col">
            <form
              method="POST"
              action="{% url 'approve_query' query.id query.slug %}"
              style="margin-bottom: 20px"
            >
              {% csrf_token %}
            <button class="btn btn-outline-success "  type="submit">Approve</button>
            </form>
          </div>
          <div class="col">
            <form
              method="POST"
              action="{% url 'reject_query' query.id query.slug %}"
            >
              {% csrf_token %}
              <button class="btn btn-outline-danger" type="submit" >Reject</button>
            </form>
          </div>
          <div class = "col" style = "margin-bottom: 20px;">
            <div class="dropdown">
                <a
                  class="dropdown-toggle text-decoration-none btn border border-primary"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-regular fa-address-card"></i> Contact
                </a>
                <ul
                  class="dropdown-menu dropdown-content"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://wa.me/{{query.user.profile.contact|cut:' '}}"
                      target="_blank"
                      ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="mailto:{{query.user.email}}"
                      ><i class="fa-solid fa-envelope"></i> Mail</a
                    >
                  </li>
                </ul>
              </div>
          </div>
        </div>
    {% endif %}
    {% else %}
      {% if program_representative != None %}
        <div class="dropdown" style = "margin-bottom:20px;">
          
          <a
            class="dropdown-toggle text-decoration-none btn border border-primary"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-regular fa-address-card"></i> Contact Your PR
          </a>
          <ul
            class="dropdown-menu dropdown-content"
            aria-labelledby="dropdownMenuButton1"
          >
            <li>
              <a
                class="dropdown-item"
                href="https://wa.me/{{program_representative.contact|cut:' '}}"
                target="_blank"
                ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="mailto:{{program_representative.user.email}}"
                ><i class="fa-solid fa-envelope"></i> Mail</a
              >
            </li>
          </ul>
        </div>
      {% endif %}
  {% endif %}
  <div class="container">
    <a
      href="{% url 'portal' %}"
      class="btn btn-primary"
      type="button"
      ><i class="fa fa-long-arrow-left"></i>&nbsp;Go Back</a
    >
  </div>
</div>
{% endblock %}
